.header {
  padding: 50px 0;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &-list {
      display: flex;
      gap: 40px;
    }

    &-link {
      @include navLink;
    }
  }

  &__logo {
    @include logo;
  }

  &__link {
    @include btn;
  }
}

