.items {
  padding-bottom: 96px;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    column-gap: 90px;
  }

  &__title {
    @include title;
    margin-bottom: 10px;
  }

  &__descr {
    @include descr;
    margin-bottom: 50px;
  }

  &__list {
    position: relative;
    z-index: -1;
    grid-row: span 3;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: 170px 30px 230px 30px 170px;
    gap: 15px;
    transform: rotate(30deg);
  }

  &__item {
    padding: 28px;
    box-shadow: 18px 18px 35px 0px rgba(246, 127, 14, 0.6);

    &:nth-child(1) {
      grid-row: 2 / 4;
    }

    &:nth-child(2) {
      grid-row: span 2;
    }

    &:nth-child(3) {
      grid-row: span 2;
    }

    &:nth-child(4) {
      grid-row: span 2;
    }
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }

  &__link {
    @include linkToAppContainer;
    width: max-content;
    height: max-content;
    align-self: center;

    &:focus-visible {
      .items__link-circle {
        transform: translateX(20px);
      }
    }

    &:hover {
      .items__link-svg {
        transform: rotate(90deg);
      }
    }

    &-svg {
      @include linkToAppArrowRight;
    }

    &-circle {
      @include linkToAppCircle;
    }
  }
}
