@media (max-width: 1023px) {
  @mixin btn {
    &:hover > span > span {
      animation: none;
    }


    &:hover::before {
      transform: none;
    }
  }

  @mixin navLink {
    &:hover span {
      animation: none;
    }

    &:hover::before {
      opacity: 0;
      animation: none;
    }
  }

  @mixin linkToAppContainer {
    &:hover span::before {
      transform: none;
    }

    &:hover span > svg {
      transform: none;
    }
  }

  .header {
    &__nav-link {
      @include navLink;
    }

    &__link {
      @include btn;
    }
  }

  .hero {
    padding-bottom: 100px;

    &__link {
      @include linkToAppContainer;
    }
  }

  .we-are-the-best {
    padding-bottom: 100px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      text-align: center;
    }

    &__descr {
      text-align: center;
    }

    &__list {
      gap: 50px;
    }

    &__item {
      padding-left: 30px;
    }

    &__img {
      display: none;
    }
  }

  .items {
    padding-bottom: 50px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
    }

    &__descr {
      text-align: center;
      margin: 0;
    }

    &__list {
      order: 1;
    }

    &__link {
      order: 2;
      @include linkToAppContainer;
    }
  }

  .client-reviews {
    padding-bottom: 100px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      text-align: center;
      margin-bottom: 10px;
    }

    &__descr {
      text-align: center;
      margin-bottom: 10px;
    }

    &__client {
      &-name {
        text-align: center;
        margin-bottom: 10px;
      }

      &-images {
        &-list {
          width: 350px;
          height: 350px;
          margin: 0 auto;
        }
      }

      &-avatar-container {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__swiper {
      margin-bottom: 30px;
      padding-bottom: 85px;

      &-slide {
        align-items: center;
      }

      &-btn-container {
        left: 50%;
        transform: translateX(-50%);
      }

      &-btn {
        &:hover {
          border-color: $color5;
        }

        &:hover::before {
          transform: none;
        }
      }
    }
  }

  .app {
    padding-bottom: 100px;

    &__container {
      padding: 0 10px;
      grid-template-columns: 200px 1fr;
      column-gap: 50px;
    }

    &__download-text {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__descr {
      margin-bottom: 40px;
    }
  }

  .footer {
    padding-bottom: 30px;

    &__nav {
      &-link {
        @include navLink;
      }
    }

    &__address {
      &-link {
        &:hover {
          color: $color2;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  @mixin descr {
    line-height: 26px;
  }

  @mixin title {
    font-size: 50px;
  }

  .header {
    padding: 20px 0;

    &__nav {
      display: none;
    }
  }

  .hero {
    padding-bottom: 50px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      @include title;
    }

    &__descr {
      @include descr;
      width: 100%;
      margin-bottom: 20px;
    }

    &__img {
      display: none;
    }

    &__list {
      gap: 15px;
    }
  }

  .we-are-the-best {
    padding-bottom: 50px;

    &__title {
      @include title;
    }

    &__descr {
      @include descr;
      margin-bottom: 30px;
    }

    &__list {
      gap: 40px;
    }

    &__item {
      padding: 0;
      gap: 8px 20px;

      &-descr {
        @include descr;
      }
    }
  }

  .items {
    overflow: hidden;

    &__title {
      @include title;
    }

    &__descr {
      @include descr;
    }

    &__list {
      grid-template-rows: 95px 15px 125px 15px 95px;
    }

    &__item {
      padding: 12px;
    }
  }

  .client-reviews {
    padding-bottom: 50px;

    &__title {
      @include title;
    }

    &__descr {
      @include descr;
    }

    &__client {
      &-images {
        &-list {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  .app {
    padding-bottom: 50px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__download-text {
      display: none;
    }

    &__title {
      @include title;
      text-align: center;
    }

    &__descr {
      @include descr;
      text-align: center;
      margin-bottom: 30px;
    }

    &__picture {
      order: 1;
    }

    &__img {
      object-fit: contain;
      height: 400px;
    }

    &__link-container {
      order: 2;
      justify-content: center;
    }
  }

  .footer {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__title {
      margin: 0;
    }

    &__descr {
      display: none;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      &-list {
        align-items: inherit;
        gap: inherit;
      }
    }

    &__address {
      align-items: center;
      gap: 15px;
    }
  }
}

